---
layout: default
#title: About
permalink: /
---

<div class="center">
	<h1 class="title">The CoDia Lab</h1>
	<h4 style="text-align: justify">
        Our research group, led by Jun.-Prof. Dr. Daniel Dörr, develops bioinformatics methods for analyzing molecular high-throughput data in the
        context of diabetes research. We address computational challenges arising from large-scale and heterogeneous data, integrating multi-omics
        and clinical datasets to improve our understanding of metabolic dysfunctions and their relationship with cardiovascular diseases.

        We develop pangenome-based approaches to study disease-related genetic variations, particularly in complex loci relevant to diabetes. Our
        work also extends to modeling epigenetic gene regulation and investigating structural genomic variations to reconstruct mutation histories.
	</h4>

<!--  <b><a href="{{ site.baseurl }}/jobs2019/">We are hiring! Click here for more info...</a></b>  -->
</div>

{% if site.people %}
{% assign count = site.people.size %}
<div class="section">
{% include title-bar.html title="People" %}
<div class="see-all"><a href="{{ site.baseurl }}/people">see all members</a></div>
<div style="text-align: center;margin-top:15px;">
	{% include person-list-start.html %}
	{% for person in site.people %}
		{% unless person.alum %}
			{% include person-list-item.html index=forloop.index size=60 inits="yes" %}
		{% endunless %}
	{% endfor %}
	{% include person-list-end.html %}
</div>
</div>
{% endif %}

{% if site.posts.size > 0 %}
{% assign post = site.posts.first %}
{% assign count = site.posts.size %}
<div class="section">
{% include title-bar.html title="News" %}
{% include see-all.html name="news posts" link="news" count=count %}
{% for post in site.posts limit:site.data.settings.landing-news-posts %}
<div class="post">
      <h4 class="mainHeading">{{ post.content }}</h4>
	  <div style="color: gray;">{{ post.date | date: "%B %e, %Y" }}</div>
</div>
{% endfor %}
</div>
{% endif %}

{% if site.data.publications %}
{% assign array = "" | split: "" %}
{% for pair in site.data.publications %}
	{% assign array = array | push: pair[1] %}
{% endfor %}
{% assign sorted = array | sort: "date" | reverse %}
{% assign count = site.data.publications.size %}
<div class="section">
{% include title-bar.html title="Publications" %}
{% include see-all.html name="publications" link="publications" count=count %}
{% for pub in sorted limit: site.data.settings.landing-pubs %}
	{% include publication.html pub=pub %}
{% endfor %}
<br><div style="font-size: 10px">Legend: * joint first author; <xsup>†</xsup> joint last author</div>
{% endif %}

{% if site.data.settings.landing-software %}
  {% assign count = site.projects.size %}
  <div class="section">
  {% include title-bar.html title="Software" %}
  {% include see-all.html name="projects" link="projects" count=count %}
  {% for query in site.data.settings.landing-software %}
            {% for proj in site.projects %}
              {% unless proj.retired %}
                {% assign key = proj.title | downcase %}
		{% if key == query %}
	    	{% include project.html proj=proj %}
		{% endif %}
	      {% endunless %}
	    {% endfor %}
  {% endfor %}
</div>
{% endif %}
